[submodule "themes/academic"]
	path = themes/academic
	url = https://github.com/sourcethemes/academic-kickstart.git
[submodule "public"]
	path = public
	url = git@github.com:skoelzer/skoelzer.github.io.git
	branch = master
