[submodule "themes/ananke"]
	path = themes/ananke
	url = https://github.com/budparr/gohugo-theme-ananke.git
[submodule "themes/goa"]
	path = themes/goa
	url = https://github.com/shenoybr/hugo-goa
[submodule "public"]
	path = public
	url = https://github.com/skoelzer/skoelzer.github.io.git
	branch = master
[submodule "kube"]
	path = kube
	url = https://github.com/jeblister/kube.git
[submodule "themes/kube2"]
	path = themes/kube2
	url = https://github.com/jeblister/kube.git
