[submodule "themes/academic"]
	path = themes/academic
	url = http://github.com/sourcethemes/academic-kickstart.git
[submodule "public"]
	path = public
	url = http://github.com/skoelzer/skoelzer.github.io.git
	branch = master
